*
{
  box-sizing: border-box;
  text-transform: capitalize;
}
body
{
  background-color: #d5c9c9;
  transition: all .4s linear;
}
header
{
  width: 102%;
      height: 6em;
      display: inline-flex;
      position: relative;
      top: -1em;
      left: -1em;
      background: url(img/back.jpg) no-repeat center;
      background-size: cover;
}
header h1
{
      width: 11em;
      color: #322e2e;
      font-size: 21px;
      display: flex;
      margin: 0 0 1em 3em;
      padding-left: 1em;
      padding-bottom: 11px;
      padding-top: 2em;
      letter-spacing: -2px;
      border-bottom: 7px solid #766e80;
      border-radius: 1em;
      transition: ex 1s ease-in-out;
      perspective: 600px;

}
header span:first-child,header span:last-child
{
  position: relative;
  animation-name: ex;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes ex
{
  from {
        top: 0.6em;
  }
  to {
  top : -1.2em;
  }
}
header span
{
  color: white;
}
header nav
{
      align-self: center;
      margin-left: 40em;
      display: inline-flex;
}
header nav ul li
{
  text-align: center;
      display: inline-flex;
      list-style: none;
      margin-right: 2em;
      padding: 1em;
      color: white;
      border: 1px solid brown;
      border-radius: 20%;
      background-color: brown;
          cursor: pointer;
}
.overlay {

    transition: all 0.6s ease-in-out;
}
.overlay:hover {
    opacity: .6;
}



header + div
{
  margin: 1em;
width: 6em;
font-size: 3em;
padding-bottom: 0.2em;
border-bottom: 5px solid;
border-left: 5px solid;
font-family: cursive;
border-radius: 1.5em 0em 3em 1em;
}

img
{
  width: 65%;
  height: 20em;
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  transform: scale(1);
}
div+nav ul li
{
  width: 40%;
      display: inline-flex;
      list-style: none;
      color: white;
      padding-right: -11em;
      position: relative;
      overflow: hidden;
      width: 30em;
      margin-bottom: 8em;
}
#wall +nav ul li:hover img {
  transition: all .7s linear;
    transform: scale(1.4);
    cursor: none;
}

nav a
{
  text-decoration: none;
  color:white;
}
.order
{
  position: relative;
  top: -37em;
      height: 0em;
}
.order2
{
  position: relative;
  top: -9em;
      height: 0em;
}
.order p,.order2 p
{
  margin-right: 5.5em;
  margin-left: 1.5em;
  margin-bottom: 15em;
  display: inline-block;
  border: 5px solid #552745f0;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  width: 13em;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  color: brown;
}
.order p:hover , .order2 p:hover
{
  transition: all .4s linear;
  background-color: #552745f0;
  cursor : pointer;
  color: white;
}
